.list-group
  = link_to 'Overview', system_settings_path, class: ["list-group-item"]
  = link_to 'Personal', personal_info_path, class: ["list-group-item"]
  = link_to 'Education', education_infos_path, class: ["list-group-item"]
  = link_to 'Career', career_infos_path, class: ["list-group-item"]
  = link_to 'Skills', skills_path, class: ["list-group-item"]
