= form_for @skill do |f|
  - if @skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@skill.errors.count, "error")} prohibited this skill from being saved:"
      %ul
        - @skill.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :level
    = f.text_field :level
  .field
    = f.label :catalog
    = f.text_field :catalog
  .field
    = f.label :assets
    = f.file_field :assets, multiple: true
  .actions
    = f.submit 'Save'
