%p
  = link_to "New", new_skill_path
  = "Skills"
- Skill.catalogs.each do |catalog, index|
  %p
    %b= catalog
    .card.card-block
      - @skills.where(catalog: Skill.catalogs[catalog]).find_each do |skill|
        %p.row
          .col-lg-10
            = skill.name
          .col-lg-2
            = link_to "Edit", edit_skill_path(skill.id)
            = link_to "Delete", skill_path(skill.id), method: :delete, data: {confirm: "Really delete this record?"}
        %p
          .row
            = render partial: 'shared/system/cvs/assets', locals: {assets: skill.assets}
