= "EducationInfos"
= link_to "New", new_education_info_path

- @education_infos.each do |education_info|
  %p
    .card.card-block
      %h4
        = "#{education_info.begin} - #{education_info.end}"
      %p.card-text
        = "#{education_info.insititude}, #{education_info.graduation}, #{education_info.score}"
      %p
        .row
          = render partial: 'shared/system/cvs/assets', locals: {assets: education_info.assets}
      %p
        = link_to "Edit", edit_education_info_path(education_info.id)
        = link_to "Delete", education_info_path(education_info.id), method: :delete, data: {confirm: "Really delete this record?"}
