StudyInfos
= link_to "New", new_study_info_path

- @study_infos.each do |study_info|
  %p
    .card.card-block
      %h4
        = "#{study_info.begin} - #{study_info.end}"
      %p.card-text
        = "#{study_info.insititude}, #{study_info.graduation}, #{study_info.score}"
      = link_to "Edit", edit_study_info_path(study_info.id)
      = link_to "Delete", study_info_path(study_info.id), method: :delete, data: {confirm: "Really delete this record?"}
