StudyInfos Index
= @study_infos.length
= link_to "New", new_system_settings_study_info_path

- @study_infos.each do |study_info|
  = study_info.begin
  = study_info.end
  %table.table
    %tbody
      - @study_infos.columns.each do | column |
        %tr
          %td
            = column.name
          %td
            = column.to_json
