Applications
= link_to "New", new_application_path
- @applications.each do |application|
  %p
    .card.card-block
      %p= application.inspect
      %p= application.offer.inspect
      - if application.applied_at.blank?
        = link_to :preview, application_preview_path(application_id: application.id)
      - else
        %p= application.applied_at


-#
-# - @offers.each do |offer|
-#   %p
-#     .card.card-block
-#       %p
-#         %b
-#           = link_to offer.title, offer.link, target: :_blank
-#         %i
-#           = "(#{offer.position})"
-#         .pull-lg-right
-#           = offer.online_at
-#       .card-text
-#         %p
-#           = offer.company.name
-#           = link_to offer.company.homepage
-#         %p
-#           %span
-#             = offer.contact.full_name_with_title
-#             = mail_to offer.contact.email
-#         %p
-#           = t "#{:applications}:"
-#           = offer.applications.count
-#         -# = "#{offer.branch}, #{offer.job_type}"
-#       %p
-#         = link_to "Apply this offer", ""
-#         %row.pull-lg-right
-#           = link_to "Edit", edit_offer_path(offer.id)
-#           = link_to "Delete", offer_path(offer.id), method: :delete, data: {confirm: "Really delete this record?"}
