Offers
= link_to "New", new_offer_path

- @offers.each do |offer|
  %p
    .card.card-block
      %p
        = render partial: 'shared/system/jobs/offer', locals: {offer: offer}
        %p
          = t "#{:applications}:"
        %p
          - offer.applications.each do |application|
            .row.col-lg-12
              = link_to (application.applied_at || application.created_at).to_s, application_path(application)
      %p
        = link_to "Apply this offer", new_application_path(offer:{id: offer.id}), method: :get
        %row.pull-lg-right
          = link_to "Edit", edit_offer_path(offer.id)
          = link_to "Delete", offer_path(offer.id), method: :delete, data: {confirm: "Really delete this record?"}
