%nav.navbar.navbar-light.bg-faded
  %ul.nav.nav-pills
    %li.nav-item
      %a.navbar-brand.nav-link{:href => "#"} AngelsJob
    %li.nav-item
      = link_to 'Home', root_path, class: ["nav-link"]
    %li.nav-item
      = link_to 'Curriculum Vitae', cvs_path, class: ["nav-link"]
    %li.nav-item
      = link_to 'Jobs', jobs_path, class: ["nav-link"]
    %li.nav-item
      %a.nav-item.nav-link{:href => "#"} Mails
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}= "Welcome #{current_user.email}"
      .dropdown-menu
        %a.dropdown-item{:href => "#"} About
        = link_to 'Settings', settings_path, method: :get, class: ["dropdown-item"]
        %a.dropdown-item{:href => "#"} Something else here
        = link_to 'Admin Tools', tadmin_path, method: :get, class: ["dropdown-item"]
        .dropdown-divider
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: ["dropdown-item"]
    .pull-xs-right
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = I18n.locale
        .dropdown-menu
          %a.dropdown-item{:href => "#"} About

          %a.dropdown-item{:href => "#"} Something else here
          = link_to 'Admin Tools', tadmin_path, method: :get, class: ["dropdown-item"]
          .dropdown-divider
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: ["dropdown-item"]
