%p
  = link_to "New", new_cv_template_path
  = "Templates"
- @cv_templates.each do |template|
  %p
    .card.card-block
      %p= template.name
      .template-content{data: {content: template.content}}
      %p
        = link_to "Edit", edit_cv_template_path(template.id)
        = link_to "Delete", cv_template_path(template.id), method: :delete, data: {confirm: "Really delete this record?"}

:javascript
  $().ready(function(){
    $('.template-content').each(function(){
      $(this).html($(this).data('content'));
    });
  });
