%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title AngelsJob
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'system', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'tags3d', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'tags3d', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
  
